# Standard git attributes. Removed LFS as it is not installed on this system.
outputs_complex/mistral:latest/parallel/*.json filter=lfs diff=lfs merge=lfs -text
outputs_complex/mistral:latest/parallel/*.json filter=lfs diff=lfs merge=lfs -text
